
.section-two{
    padding: 20px 0px;
}

.section-two-content{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.section-two-content h2{
    font-size: 40px;
}
.section-two-content h1{
    font-size: 50px;
}
.social-icons{
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 25px;
}
.button-on-profile{
    display: flex;
    justify-content: center;
    margin: 20px 0px;
    gap: 30px;
}
.button-on-profile button{
    border: none;
    
}
.button-on-profile button a{
    text-decoration: none;
    padding: 10px 30px;
    background-color: red;
    color: white;
    font-weight: bold;
    border-radius: 40px;
}
.photo{
    display: flex;
    justify-content: center;
}    
.myphoto{
    border-radius: 15%;
}
.about{
    padding: 40px 10px;
    background-color: rgb(214, 213, 213);
}
.section-three i{
    background-color: black;
    padding: 2px;
    color: white;
    margin: 0px 5px;
}

.section-popup{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(100, 97, 97, 0.4);

}

.popup-box{
    background-color: white;
    text-align: center;
    border-radius: 20px;
    padding: 0px 10px;
}
.popup-content{
    padding: 10px 70px;
}
.popup-content button{
    padding: 5px 20px;
    background-color: black;
    font-weight: bold;
    color: white;
    margin-top: 20px;
    border: none;
}
.section-4{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 30px 0px;
}
.expertise{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 20px;
}
.expertise div{
    background-color: #00549C;
    color: white;
    padding: 20px 0px;
}
