.message-data{
    width: 50%;
    background-color: white;
<<<<<<< HEAD
=======
    padding: 50px 10px;  
>>>>>>> b531eb8257c3c300a1ca3aacc72cd941a7c2bd47
    border-radius: 10px;
    margin: 20px 10px;
    padding: 20px;
    background-color: rgb(241, 237, 237);
}
.message-details p{
    border-bottom: 0.1px solid rgb(184, 182, 182);
    display: flex;
    gap: 20px;
    padding-block: 5px;
}
@media only screen and (max-width: 600px) {
  .message-data{
    width: 90%;
  }
}
